---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://d340lr3764rrcr.cloudfront.net/Images/favicon.ico">
    <title> EOS Website </title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--custom stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="main-outer resource-landing-main">
    <div class="header">
        <div class="container">
                <div class="logo">
                    <a href="/">
                        <img src="https://d340lr3764rrcr.cloudfront.net/Images/eos_logo@2x.png" alt="">
                    </a>
                </div>
                <div class="navigation-main">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Tokens <span class="sr-only">(current)</span></a></li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Signup
                                </a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
    </div>
    <div class="resource-body">
      <div class="resource-banner">
        <div class="container">
          {% assign insight1 = site.data.insights[0] %}
          {% assign insight2 = site.data.insights[1] %}
          {% assign insight3 = site.data.insights[2] %}
          <div class="row no-gutters">
            <div class="col-sm-7">
              <div class="content with-full-height">
                <a href="{{ insight1.url}}" target="_blank">
                  <img src="{{ insight1.image }}">
                  <div class="body">
                    <h2>{{ insight1.title }}</h2>
                    <p>{{ insight1.date }} | {{ insight1.author }}</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="content with-half-height">
                <a href="{{ insight1.url }}" target="_blank">
                  <img src="{{ insight2.image }}">
                  <div class="body">
                    <h2>{{ insight2.title }}</h2>
                    <p>{{ insight2.date }} | {{ insight2.author }}</p>
                  </div>
                </a>
              </div>
              <div class="content with-half-height grey-bg">
                <a href="{{ insight3.url }}" target="_blank">
                  <img src="{{ insight3.image }}">
                  <div class="body">
                    <h2> {{ insight3.title }}</h2>
                    <p>{{ insight3.date }} | {{ insight3.author }}</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="roadmap-main">
            <h2> EOS.IO Software Roadmap
            </h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="product-update clearfix grey-bg">
                            <h3> <span class="glyphicon glyphicon-user"></span> Product Update </h3>
                            <p> Aug 7, 2017</p>
                            <p> Aug 7, 2017</p>
                            <p> Aug 7, 2017</p>
                            <p> Aug 7, 2017</p>
                            <p> Aug 7, 2017</p>
                            <p> Aug 7, 2017</p>
                            <p> Aug 7, 2017</p>
                            <p> Aug 7, 2017</p>
                            <a href=""> More Updates </a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Summer 2017</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Minimal viable Testing environment</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Summer 2017</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Minimal viable Testing environment</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge danger"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Summer 2017</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Minimal viable Testing environment</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Summer 2017</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Minimal viable Testing environment</p>
                                    </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        <div class="press-main">
            <h2> Press </h2>
            <div class="container">
                <div class="row">
                  {% for news_article in site.data.news_articles limit: 3 %}
                    <div class="col">
                      <div class="body grey-bg">
                        <a href="{{ news_article.url}}" target="_blank">
                          <img src="{{ news_article.image }}">
                          <div class="description">
                            <h4>{{ news_article.title }}</h4>
                            <p> {{ news_article.date }} | {{ news_article.author }}</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="row">
                  {% for news_article in site.data.news_articles offset: 2 limit: 3 %}
                    <div class="col">
                      <div class="body grey-bg">
                        <a href="{{ news_article.url}}" target="_blank">
                          <img src="{{ news_article.image }}">
                          <div class="description">
                            <h4>{{ news_article.title }}</h4>
                            <p> {{ news_article.date }} | {{ news_article.author }}</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="videos-main">
            <h2> Product Videos </h2>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="videos grey-bg">
                            <span class="glyphicon glyphicon-facetime-video"></span>
                        </div>
                        <h4> Video Name
                        </h4>
                        <p> Aug 4, 2017 | Emi Yoshikawa
                        </p>
                    </div>
                    <div class="col">
                        <div class="videos grey-bg">
                            <span class="glyphicon glyphicon-facetime-video"></span>
                        </div>
                        <h4> Video Name
                        </h4>
                        <p> Aug 4, 2017 | Emi Yoshikawa
                        </p>
                    </div>
                    <div class="col">
                        <div class="videos grey-bg">
                            <span> MORE </span>
                        </div>
                        <h4> Video Name
                        </h4>
                        <p> Aug 4, 2017 | Emi Yoshikawa
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta-main">
            <div class="container">
                <div class="row justify-content-center">
                    <a href="" class=‘cta’> Technical White Paper
                    </a>
                    <a href="" class=‘cta’> EOS - An Introduction
                </a>
                </div>
            </div>
        </div>
        <div class="events-main">
            <h2> Events </h2>
            <div class="container">
                <div class="main-row">
                    <div class="events-row">
                        <h3> Americas </h3>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                    </div>
                    <div class="events-row">
                        <h3> Europe </h3>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                    </div>
                    <div class="events-row">
                        <h3> Asia </h3>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                    </div>
                    <div class="events-row">
                        <h3> Mid East </h3>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="events-col">
                            <div class="timeline-box">
                                <a href="https://newyork.fintechweek.com/" target="_blank" class="content">
                                    <div class="date">Aug 21 - 25, 2017
                                    </div>
                                    <div class="title"> New York Fintech Week
                                    </div>
                                    <div class="place">
                                        New York City, US
                                    </div>
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
                <a class=‘pull-right’ href=""> More Events </a>
            </div>
            </div>
        <div class="footer text-center">
        <div class="container">
            <div class="row-flex">
                <div class="col text-left">
                    <p class="copyright links">Copyright © 2017 block.one
                        <span> | </span>All rights reserved
                    </p>
                </div>
                <div class="col footer-logo-wrapper">
                    <a href="http://www.block.one" target="_blank"><img src="https://d340lr3764rrcr.cloudfront.net/Images/block-one@2x.png" alt="block.one"></a>
                </div>
                <div class="col links text-right">
                    <a href="mailto:eos@block.one">eos@block.one</a>
                    <span> | </span>
                    <a href="terms-of-use.html">Terms of Use</a>
                    <span> | </span>
                    <a href="privacy-policy.html">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    </div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>
